# /etc/systemd/system/chromium.service
[Unit]
After=weston.service
Description=Chromium kiosk

[Service]
User=weston
ExecStart=/usr/bin/chromium \
         --enable-features=UseOzonePlatform \
         --ozone-platform=wayland \
         --kiosk https://your.app/ \
         --disable-translate --disable-pinch --disable-features=TranslateUI
Restart=always

[Install]
WantedBy=weston.service
